[submodule "xrizer"]
	path = xrizer
	url = https://github.com/Supreeeme/xrizer.git
[submodule "wayvr"]
	path = wayvr
	url = https://github.com/wlx-team/wayvr.git
[submodule "wivrn"]
	path = wivrn
	url = https://github.com/WiVRn/WiVRn.git
